@import "tailwindcss";

:root {
  --background: rgba(242, 232, 207);
  --foreground: #333333;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-whitish: #fdfffc;
  --color-blackish: #999999;
  --color-font-color: #333333;
  --color-nav-hover: #161a1d;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #161a1d;
    --foreground: #ffeedd;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Share Tech Mono", monospace;
}

* {
  outline: none !important;
}