@import "tailwindcss";

:root {
  --background: rgba(242, 232, 207);
  --foreground: #333333;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-whitish: #fdfffc;
  --color-blackish: #999999;
  --color-font-color: #333333;
  --color-nav-hover: #161a1d;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #161a1d;
    --foreground: #fdfffc;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Share Tech Mono", monospace;
}

* {
  outline: none !important;
  user-select: none;
}

::-webkit-scrollbar { width: 5px !important; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background: #161a1d; border-radius: 10px; }

button, a {
  outline: none !important;
  cursor: pointer;
}

@keyframes switchText {
  0%, 30%{
    display:  flex;
  }
  31%, 100% {
    display: none;
  }
}

.switch-text {
  animation: switchText 12s infinite ease-in-out;
}