@import "tailwindcss";

:root {
  --background: #010b13;
  --foreground: #333333;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-whitish: #fdfffc;
  --color-blackish: #002147;
  --color-bg-color: #010b13;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #161a1d;
    --foreground: #fdfffc;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Inclusive Sans", sans-serif;
}

* {
  outline: none !important;
  user-select: none;
}

::-webkit-scrollbar { width: 5px !important; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background: #161a1d; border-radius: 10px; }

button, a {
  outline: none !important;
  cursor: pointer;
}

@keyframes switchText {
  0%, 30%{
    display:  flex;
  }
  31%, 100% {
    display: none;
  }
}

.switch-text {
  animation: switchText 12s infinite ease-in-out;
}